body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}

h2 {
    text-align: center;
}

#searchInput {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    box-sizing: border-box;
}

#brandsList {
    list-style-type: none;
    padding: 0;
}

#brandsList li {
    padding: 10px;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
}

#brandsList li:hover {
    background-color: #f4f4f4;
}